<html>
    <head>
        <title>Калькулятор</title>
	</head>

	<form action="." method="POST">
    <p style="font-size:25px; color:rgb(0, 0, 0)">Например: 1 + 2</p>
    <input style = "position:center;  width:550px;
height:60px" type="text" name="text" placeholder="Введите выражение">
    <input style = "position:center;  background-color:white;color:black;width:150px;
height:40px" type="submit" value="Посчитать" align="center">
    <body style="background-color:rgb(255, 255, 255);"></body>

        <br>
       <a style="font-size:25px; color:rgb(0, 0, 0)" href="/hist1">Прошлые запросы</a>

</form>

</html>